@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

* {padding: 0; margin: 0; box-sizing: border-box;}
body {font-family: "open sans"; color: #333;}
a {text-decoration: none; color: #333;}     a:hover {color: #136EFA;}
ul {list-style-type: none; padding: 0; margin: 0;}
button {background: none; border: none;}
section {padding: 80px 0;}


        /* codes for header section */
header {background: #f3f3f9; z-index: 10;}
header #mobile_menu_wrapper {display: none;}
header .logo {padding: 15px 0;}
header .menu_wrapper {display: flex; justify-content: space-between;}
header .menu_wrapper ul.main_menu li.menu_btn {display: inline-block; padding: 20px 10px; cursor: pointer;}
/* left submenu */
header .menu_wrapper ul.main_menu li.menu_btn:hover .sub_menu {display: block;}
header .menu_wrapper ul.main_menu li.menu_btn .sub_menu {position: absolute; background: #fff; width: 100%; left: 0; top: 64px; padding: 20px 0; cursor: auto; display: none; border: 1px solid #ddd; z-index: 10;}
header .menu_wrapper ul.main_menu li.menu_btn .sub_menu .left {border-right: 1px solid #ccc; padding: 15px 40px 15px 10px;}
header .menu_wrapper ul.main_menu li.menu_btn .sub_menu .middle {border-right: 1px solid #ccc; padding: 15px 40px;}
header .menu_wrapper ul.main_menu li.menu_btn .sub_menu .right {padding: 15px 40px;}
header .menu_wrapper ul.main_menu li.menu_btn .sub_menu ul li a {margin-top: 10px; display: block; color: #136EFA;}
header .menu_wrapper ul.main_menu li.menu_btn .sub_menu ul li a:hover {text-decoration: underline;}
/* right submenu */
header .menu_wrapper ul.main_menu li.menu_btn:hover .manage_rentals_submenu {display: block;}
header .menu_wrapper ul.main_menu li.menu_btn .manage_rentals_submenu {position: absolute; background: #fff; width: 280px; right: 0; top: 64px; padding: 30px; cursor: auto; display: none; border: 1px solid #ddd; z-index: 10;}
header .menu_wrapper ul.main_menu li.menu_btn .manage_rentals_submenu ul li a {color: #136EFA; margin-top: 10px; display: block;} 
header .menu_wrapper ul.main_menu li.menu_btn .manage_rentals_submenu ul li a:hover {text-decoration: underline;}

        /* codes for sticky header section */
#stickyHeader {background: #f3f3f9; border-bottom: 1px solid #999; padding: 10px; position: fixed; top: 0; left: 0; width: 100%; z-index: 10; display: none;}
#stickyHeader.active {display: block;}
#stickyHeader .logo {align-self: center;}
#stickyHeader .search_wrapper {width: 50%; margin: auto; background: #fff; display: flex; padding: 10px; border-radius: 6px; border: 1px solid #136EFA;}
#stickyHeader .search_wrapper input {background: none; border: none; outline: none; width: 100%; font-weight: bold; margin-left: 15px;}

        /* codes for banner section */
#banner {padding: 130px 0; background: url(../image/banner/home.jpg); background-repeat: no-repeat; background-size: cover; background-position: center; text-align: center;}
#banner h1 {color: #fff; font-weight: bold; -webkit-text-stroke: 1px #136EFA; margin-bottom: 20px;}
#banner .search_wrapper {max-width: 600px; margin: auto; background: #fff; display: flex; padding: 20px; border-radius: 6px;}
#banner .search_wrapper input {background: none; border: none; outline: none; width: 100%; font-weight: bold; margin-left: 15px;}

        /* codes for recommend section */
#recommend .wrapper {display: flex; justify-content: space-between; flex-wrap: wrap;}
#recommend .wrapper .text {text-align: center; align-self: center; margin: 20px 0;}
#recommend .wrapper img {width: 60%; align-self: center;}
        /* codes for recommend section */
#boxes {background: #f5f5f5;}
#boxes .box {border: 1px solid #ddd; background: #fff; padding: 50px 20px; text-align: center; height: 100%; transition: all 0.3s;}
#boxes .box:hover {transform: scale(1.05);}

        /* codes for lists section */
#lists {padding: 25px 0;}
#lists .wrapper {display: flex; justify-content: space-between; flex-wrap: wrap;}
#lists .wrapper .item {width: 25%; padding: 5px; text-align: center;}
#lists .wrapper .item button {margin-bottom: 20px; border-right: 1px solid #ddd; width: 100%; padding: 8px 0; color: #136EFA; font-weight: bold;}
#lists .wrapper .item:last-child button {border: none;}
#lists .wrapper .item ul.list.active {display: block;}
#lists .wrapper .item ul.list {display: none;}
#lists .wrapper .item ul.list li {margin-bottom: 10px;}

        /* codes for footer section */
footer ul.links {text-align: center;}
footer ul.links li {display: inline-block; padding: 5px 10px;}
footer ul.links li a:hover {text-decoration: underline;}
footer .about p {font-size: 12px; color: #999;}
footer .about p a {color: #136EFA; text-decoration: underline;}
footer .bottom {display: flex; flex-wrap: wrap; margin: 20px 0; justify-content: center; color: #999;}
footer .logo {padding: 10px; align-self: center;}
footer .social {padding: 10px; align-self: center;}
footer .social a {color: #136EFA; font-size: 20px; margin-left: 5px;}
footer .copyright {padding: 10px; align-self: center;}
footer .copyright a {color: #136EFA; font-size: 20px; margin-left: 5px;}

/* responsive coding start from here */
@media screen and (max-width: 1000px){

header {background: none; margin-bottom: -80px;}
header .menu_wrapper {display: none;}
/* mobile menus */
header #mobile_menu_wrapper {display: flex; justify-content: space-between;}
header #mobile_menu_wrapper .sign_in_link {color: #fff; font-weight: bold; align-self: center;}
header #mobile_menu_wrapper .menu_button {font-size: 20px; color: #fff; align-self: center;}
/* nav */
header #mobile_menu_wrapper nav#mobile_nav.active {display: block;}
header #mobile_menu_wrapper nav#mobile_nav {position: fixed; background: #fff; width: 100%; height: 100%; top: 0; left: 0; z-index: 11; padding: 20px; overflow-y: scroll; display: none;}
header #mobile_menu_wrapper nav#mobile_nav .menu_btn {cursor: pointer; color: #136EFA; font-weight: bold; font-size: 18px;}
header #mobile_menu_wrapper nav#mobile_nav .menu_btn:hover .sub_menu {display: block;}
header #mobile_menu_wrapper nav#mobile_nav .menu_btn .sub_menu {padding: 10px; display: none;}
header #mobile_menu_wrapper nav#mobile_nav .menu_btn .sub_menu h6 {color: #999; font-size: 18px;}
header #mobile_menu_wrapper nav#mobile_nav .menu_btn .sub_menu ul {margin: 10px; font-size: 16px; font-weight: normal;}
#boxes .box {display: flex; justify-content: space-between;}
#boxes .box img {width: 200px; align-self: center;}
#lists .wrapper .item {width: 50%;}
#lists .wrapper .item:nth-child(2) button {border: none;}

}

@media screen and (max-width: 768px) {

#recommend .wrapper .text {width: 100%;}
#recommend .wrapper img {width: 100%;}

}

@media screen and (max-width: 500px) {

#stickyHeader .logo {display: none;}
#stickyHeader .search_wrapper {width: 100%;}
#boxes .box {display: block;}
#lists .wrapper .item {width: 100%;}
#lists .wrapper .item button {border: none;}

}