@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

* {padding: 0; margin: 0; box-sizing: border-box;}
body {font-family: "open sans"; color: #333;}
a {text-decoration: none; color: #333;}     a:hover {color: #136EFA;}
ul {list-style-type: none; padding: 0; margin: 0;}
button {background: none; border: none;}
section {padding: 80px 0;}


        /* codes for header section */
header {background: #f3f3f9; z-index: 10; border-bottom: 1px solid #ddd;}
header #mobile_menu_wrapper {display: none;}
header .logo {padding: 15px 0;}
header .menu_wrapper {display: flex; justify-content: space-between;}
header .menu_wrapper ul.main_menu li.menu_btn {display: inline-block; padding: 20px 10px; cursor: pointer;}
/* left submenu */
header .menu_wrapper ul.main_menu li.menu_btn:hover .sub_menu {display: block;}
header .menu_wrapper ul.main_menu li.menu_btn .sub_menu {position: absolute; background: #fff; width: 100%; left: 0; top: 64px; padding: 20px 0; cursor: auto; display: none; border: 1px solid #ddd; z-index: 10;}
header .menu_wrapper ul.main_menu li.menu_btn .sub_menu .left {border-right: 1px solid #ccc; padding: 15px 40px 15px 10px;}
header .menu_wrapper ul.main_menu li.menu_btn .sub_menu .middle {border-right: 1px solid #ccc; padding: 15px 40px;}
header .menu_wrapper ul.main_menu li.menu_btn .sub_menu .right {padding: 15px 40px;}
header .menu_wrapper ul.main_menu li.menu_btn .sub_menu ul li a {margin-top: 10px; display: block; color: #136EFA;}
header .menu_wrapper ul.main_menu li.menu_btn .sub_menu ul li a:hover {text-decoration: underline;}
/* right submenu */
header .menu_wrapper ul.main_menu li.menu_btn:hover .manage_rentals_submenu {display: block;}
header .menu_wrapper ul.main_menu li.menu_btn .manage_rentals_submenu {position: absolute; background: #fff; width: 280px; right: 0; top: 64px; padding: 30px; cursor: auto; display: none; border: 1px solid #ddd; z-index: 10;}
header .menu_wrapper ul.main_menu li.menu_btn .manage_rentals_submenu ul li a {color: #136EFA; margin-top: 10px; display: block;} 
header .menu_wrapper ul.main_menu li.menu_btn .manage_rentals_submenu ul li a:hover {text-decoration: underline;}

        /* codes for main section */
main {padding: 30px 0; max-width: 450px; margin: auto; text-align: center;}
main .buttons {display: flex; border-bottom: 1px solid #ddd;}
main .buttons button.active {border-bottom: 3px solid #136EFA;}
main .buttons button {padding: 10px; margin-right: 15px; text-align: center;}
main form {padding: 15px; text-align: left;}
main form label {font-weight: bold;}
main form input:not([type=checkbox]) {width: 100%; display: block; padding: 10px; border: none; background: #f3f3f9; border-radius: 5px;}
main form input:not([type=checkbox]):hover, main form input:not([type=checkbox]):focus {outline: 1px solid #136EFA;}
main form input[type=checkbox], main form label[for=landlord] {cursor: pointer; margin-top: 20px;}
main form button {display: block; width: 100%; margin-top: 30px;}
main .others_link {padding: 15px;}
main .others_link a {display: block; margin-top: 10px;}
main form .requirement span {font-size: 12px; display: block; padding-top: 5px; margin-left: 10px; color: #136EFA;}
main .pro_info.active {display: block;}
main .pro_info {padding: 20px 0; display: none;}
main .pro_info select {width: 100%; display: block; padding: 10px; border: none; outline: none; background: #f3f3f9; border-radius: 5px;}
main .sign_item {display: none;}
main .sign_item.active {display: block;}

        /* codes for footer section */
footer ul.links {text-align: center;}
footer ul.links li {display: inline-block; padding: 5px 10px;}
footer ul.links li a:hover {text-decoration: underline;}
footer .about p {font-size: 12px; color: #999;}
footer .about p a {color: #136EFA; text-decoration: underline;}
footer .bottom {display: flex; flex-wrap: wrap; margin: 20px 0; justify-content: center; color: #999;}
footer .logo {padding: 10px; align-self: center;}
footer .social {padding: 10px; align-self: center;}
footer .social a {color: #136EFA; font-size: 20px; margin-left: 5px;}
footer .copyright {padding: 10px; align-self: center;}
footer .copyright a {color: #136EFA; font-size: 20px; margin-left: 5px;}

/* responsive coding start from here */
@media screen and (max-width: 1000px){

header .menu_wrapper {display: none;}
/* mobile menus */
header #mobile_menu_wrapper {display: flex; justify-content: space-between;}
header #mobile_menu_wrapper .sign_in_link {color: #136EFA; font-weight: bold; align-self: center;}
header #mobile_menu_wrapper .menu_button {font-size: 20px; color: #136EFA; align-self: center;}
/* nav */
header #mobile_menu_wrapper nav#mobile_nav.active {display: block;}
header #mobile_menu_wrapper nav#mobile_nav {position: fixed; background: #fff; width: 100%; height: 100%; top: 0; left: 0; z-index: 11; padding: 20px; overflow-y: scroll; display: none;}
header #mobile_menu_wrapper nav#mobile_nav .menu_btn {cursor: pointer; color: #136EFA; font-weight: bold; font-size: 18px;}
header #mobile_menu_wrapper nav#mobile_nav .menu_btn:hover .sub_menu {display: block;}
header #mobile_menu_wrapper nav#mobile_nav .menu_btn .sub_menu {padding: 10px; display: none;}
header #mobile_menu_wrapper nav#mobile_nav .menu_btn .sub_menu h6 {color: #999; font-size: 18px;}
header #mobile_menu_wrapper nav#mobile_nav .menu_btn .sub_menu ul {margin: 10px; font-size: 16px; font-weight: normal;}

}